<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Realsense D435i -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="enable_pointcloud" value="true"/>
  </include>

  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- YOLOv8 model path -->
  <arg name="yolo_weights_path" default="$(find darknet_ros)/weights/yolov8n.pt"/>
  <arg name="network_param_file" default="$(find darknet_ros)/config/yolov8n.yaml"/>

  <!-- ROS parameter file -->
  <arg name="ros_param_file" default="$(find darknet_ros)/config/ros.yaml"/>

  <!-- Load ROS parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(arg ros_param_file)"/>

  <!-- Start YOLOv8 Python node -->
  <node pkg="darknet_ros" type="yolov8_ros_node.py" name="yolov8_ros" output="screen">
    <param name="weights_path" value="$(arg yolo_weights_path)" />
    <param name="config_path" value="$(arg network_param_file)" />
  </node>

  <!-- Depth Combination -->
  <node pkg="depth_yolo" type="depth_combination.py" name="depth_combination" output="screen"/>

  <!-- Static TF -->
  <node pkg="tf" type="static_transform_publisher" name="camera_link_to_camera_color_optical_frame"
    args="0 0 0 -1.57 0 -1.57 /camera_link /camera_color_optical_frame 100" />

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find depth_yolo)/rviz/depth_yolo.rviz" />
</launch>

